.advertisement-section {
  padding: 80px 0;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.advertisement-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: cover;
  opacity: 0.3;
}
.section-container {
  padding: 0 10px;
  position: relative;
  z-index: 1;
}
.span-discount-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: -0.01em;
  color: #141414;
  text-transform: uppercase;
  padding: 0 10px;
}
.span-advertisement-text {
  display: block;
  background-color: #576f35;
  color: #fbfbfb;
  margin-left: -10px;
  padding: 3px 10px;
  border-radius: 12px;
  width: 108%;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section-container {
    padding: 0 16px;
  }
  .advertisement-section {
    padding: 100px 0;
  }
  .span-discount-text {
    font-size: 64px;
    line-height: 1.09;
    padding: 8px 16px;
  }
  .span-advertisement-text {
    width: 103%;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .section-container {
    padding: 0 100px;
  }
  .span-discount-text {
    display: block;
    max-width: 1054px;
    font-size: 76px;
    line-height: 1.05263;
    padding: 0 13px;
  }
  .span-advertisement-text {
    display: inline;
  }
}
